<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primer Filtro Autorizado</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/primerfiltroautorizado.css') }}">

</head>
<body>
<img src="{{ url_for('static', filename='images/logo.png') }}">
<h1>Primer Filtro</h1>
<h1>Autorizado</h1>
<img src="{{ url_for('static', filename='images/Autorizado.jpeg') }}">
<h4>Accede con tu token empresarial</h4>

<a href="ingresaTuTokenEmpresarial"><button>Acceder</button></a>

</body>
</html>