
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primer Filtro Rechazado</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bienvenida.css') }}">

</head>
<body>
<img src="{{ url_for('static', filename='images/logo.png') }}">
<h1>Primer Filtro</h1>
<h1>Rechazado</h1>
<img src="https://th.bing.com/th/id/OIP.ax8psoZQDxm2_NlO4oWHWAHaHa?rs=1&pid=ImgDetMain" alt="Autorizado">
<h4>Vuelve a intentarlo.<br>Trabajador no identificado</h4>
<input type="submit" value="Siguiente" id="siguiente">
</body>
</html>>